
<img style="float: left;;" src='Figures/alinco.png' height="100"/></a>

# <center> <font color= #000047>  Operaciones con NumPy</font> </center>

## Aritméticas

Podemos realizar fácilmente aritmeticas como *arreglo con arreglo* , o *escalar con arreglo*. Veamos algunos ejemplos:

In [4]:
import numpy as np
l1 = [1,1,2,3]
l2 = [2,2,3,4]

In [5]:
a1 = np.array(l1)
a2 = np.array(l2)

In [6]:
a1 + a2

array([3, 3, 5, 7])

In [7]:
2*a1

array([2, 2, 4, 6])

In [9]:
a1.transpose()

array([1, 1, 2, 3])

In [10]:
a1@a2

22

In [ ]:
# Crear una matriz aleatoria de números enteros de dimensión 4x2 -> A
# Crear una matriz aleatoria de números enteros de dimensión 2x6 -> B
# Realizar la multiplicación de Matrices C = A*B
# Realizar la multiplicación de Matrices C = B*A

In [11]:
A = np.random.randint(100, size=(4,2))
A

array([[ 5, 84],
       [57, 20],
       [62, 33],
       [77, 57]])

In [12]:
B = np.random.randint(100, size=(2,6))
B

array([[22, 15, 81, 24, 48, 79],
       [40, 26, 65, 68, 80, 77]])

In [13]:
A.shape
B.shape

(2, 6)

In [14]:
A@B

array([[ 3470,  2259,  5865,  5832,  6960,  6863],
       [ 2054,  1375,  5917,  2728,  4336,  6043],
       [ 2684,  1788,  7167,  3732,  5616,  7439],
       [ 3974,  2637,  9942,  5724,  8256, 10472]])

In [15]:
B@A

ValueError: matmul: Input operand 1 has a mismatch in its core dimension 0, with gufunc signature (n?,k),(k,m?)->(n?,m?) (size 4 is different from 6)

In [17]:
np.dot(A,B)

array([[ 3470,  2259,  5865,  5832,  6960,  6863],
       [ 2054,  1375,  5917,  2728,  4336,  6043],
       [ 2684,  1788,  7167,  3732,  5616,  7439],
       [ 3974,  2637,  9942,  5724,  8256, 10472]])

## Funciones universales en los Arreglos

NumPy viene con muchass [funciones universales en los arreglos](http://docs.scipy.org/doc/numpy/reference/ufuncs.html), or <em>ufuncs</em>, que son esencialmente operaciones matemáticas que se pueden aplicar al arreglo.<br>Veamos algunas funciones más comunes:

In [18]:
np.sqrt(a1)

array([1.        , 1.        , 1.41421356, 1.73205081])

In [19]:
np.exp(a1)

array([ 2.71828183,  2.71828183,  7.3890561 , 20.08553692])

In [20]:
np.sin(a1)

array([0.84147098, 0.84147098, 0.90929743, 0.14112001])

In [21]:
np.cos(a1)

array([ 0.54030231,  0.54030231, -0.41614684, -0.9899925 ])

In [22]:
np.log(a1)

array([0.        , 0.        , 0.69314718, 1.09861229])

In [23]:
np.min(a1)

1

In [24]:
np.max(a1)

3

## Resumen de Estadística sobre Arreglos

NumPy también ofrece métodos estadísticos como <em> sum </em>, <em> mean </em> y <em> max </em>.

In [25]:
a1.sum()

7

In [26]:
a1.std()

0.82915619758885

In [27]:
a1.mean()

1.75

In [29]:
A.sum()

395

## Lógica para el eje (axis)

Cuando trabajamos con arreglos bidimensionales, debemos considerar filas y columnas. En términos de un arreglo, el eje 0 (cero) es el eje horizontal (filas) y el eje 1 es el eje vertical (columnas). Los valores (0,1) corresponden al orden en el que método <tt> arr.shape </tt> da como salida.

Veamos cómo afecta esto a nuestros cálculos estadísticos resumidos de arriba.

In [30]:
A.shape

(4, 2)

In [31]:
A

array([[ 5, 84],
       [57, 20],
       [62, 33],
       [77, 57]])

In [33]:
A.sum(axis=0)

array([201, 194])

In [34]:
A.sum(axis=1)

array([ 89,  77,  95, 134])

Dando como entrada <tt>axis=0</tt>, estamos devolviendo la suma del arreglo a lo largo del eje vertical, esencialmente <tt>[(1+5+9), (2+6+10), (3+7+11), (4+8+12)]</tt>

<img src='Figures/axis_logic.png' width=400/>

Esto nos dice que <tt>arr_2d</tt> tiene 3 filas y 4 columnas.

En <tt>arr_2d.sum(axis=0)</tt>, se sumó el primer elemento de cada fila, luego el segundo elemento y así sucesivamente.

Entonces, ¿qué debería <tt>arr_2d.sum(axis=1)</tt> regresar?

## Ejercicio 1


### Numpy

1. Crear un vector con valores de 10 a 49.
2. Elevar al cuadrado a aquellos números divisibles por 3.
3. Redimensionar ese vector en una matriz de 20x2.
4. Crear una nueva matriz de 2x10 y multiplicarla a la matriz anterior.
5. Obtener la transpuesta de la matriz resultante.

In [37]:
# 1. Crear un vector con valores de 10 a 49.
a = np.arange(10,50)
a

array([10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26,
       27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43,
       44, 45, 46, 47, 48, 49])

In [38]:
# 2. Elevar al cuadrado a aquellos números divisibles por 3.
for i in range(len(a)):
    if a[i]%3 == 0:
        print(a[i]**2)

144
225
324
441
576
729
900
1089
1296
1521
1764
2025
2304

In [41]:
a[a%3 == 0]**2

array([ 144,  225,  324,  441,  576,  729,  900, 1089, 1296, 1521, 1764,
       2025, 2304])

In [44]:
# 3. Redimensionar ese vector en una matriz de 20x2.
a2 = np.arange(40)
a2.shape
a2

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33,
       34, 35, 36, 37, 38, 39])

In [48]:
a2.reshape(20,2)
mat1 = a2

In [46]:
# 4. Crear una nueva matriz de 2x10 y multiplicarla a la matriz anterior.
mat2 = np.random.randint(100, size=(2,10))
mat2

array([[53, 81, 42, 31, 36, 49, 52, 49, 12, 64],
       [ 0, 75, 24, 61, 73,  6, 90, 39,  2, 38]])

In [49]:
mat1@mat2

ValueError: matmul: Input operand 1 has a mismatch in its core dimension 0, with gufunc signature (n?,k),(k,m?)->(n?,m?) (size 2 is different from 40)

In [51]:
# 5. Obtener la transpuesta de la matriz resultante.

mat1 = a1.transpose()
mat1

array([1, 1, 2, 3])

In [52]:
a1.T

array([1, 1, 2, 3])

## Ejercicio 2

Se desea calcular el índice de masa corporal (IMC) de jugadores de un equipo de futbol. Los datos proporcionados corresponden a las listas de los nombres, altura y peso, tal como se muestra a continuación

In [ ]:
nombre= ['Bonifacio de Cifuentes',
'Ángel Machado Lara',
'Geraldo de Atienza',
'Onofre Posada Grande',
'Samu Cantón-Figuerola',
'Camilo Pol',
'Toni Galvez Lara',
'Lucho Manzano Rivas',
'Abraham Aroca',
'Anselmo Bartolomé Folch',
'Toni Inocencio Rozas Porras',
'Fausto Cortés-Arco',
'Baltasar Carreño Isern']

altura = [180, 215, 210, 210, 188, 176, 209, 200, 210, 188, 176, 209, 200]
peso = [69, 74, 72, 75, 68, 70, 71, 73, 69, 74, 72, 75, 68, 70, 71, 73]

El valor de IMC por cada jugador resulta de aplicar la fórmula:

$$IMC = \frac{peso(kg)}{altura(m)^2}$$

**Nota:** Los valores de altura están dados en centímetros por lo que deberá hacer laconversión a metros previo a la aplicación de la fórmula. Adicionalmente, una vez obtenido el IMC se solicita:

> a) Presentar el icm para cada jugador.

> b) Indicar en qué índice se encuentra el icm más alto y a qué jugador le pertenece.

> c) Calcular el promedio de los icm resultantes.

> d) Muestre los nombres de los jugadores en orden de su imc, desde el que tiene menorimc al que tiene mayor imc.